# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Source/.qmake.stash
/Source/VersionManager-gdsmain-win.pro
/Source/VersionManager-gdsmain-win.pro.user
/Source/VersionManager.linux.pro.user
/Source/VersionManager.pro
/Source/VersionManager.win7.pro
/Source/VersionManager.win7.pro.user
