1 VERSIONINFO
FILEVERSION         1, 1, 101, 0
PRODUCTVERSION      1, 1, 101, 0
FILEFLAGSMASK       0x3fL
FILEFLAGS           0
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L

BEGIN    
    BLOCK   "StringFileInfo"
    BEGIN
        BLOCK   "040904b0"
        BEGIN
            VALUE   "CompanyName",      "Tachyon Software"            
			VALUE	"FileDescription",	"Tachyon Software VersionManagerTool"
            VALUE   "FileVersion",      "1.1.101"
            VALUE   "LegalCopyright",   "Copyright ? Talha Orak 2016"            
            VALUE   "ProductName",      "VersionManagerTool"
            VALUE   "ProductVersion",   "1.1.101"
        END
    END
	BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
